*{
    margin: 10px;
    padding: 5px;
    line-height: 1.5;
}

body{
    background-color: aqua;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: rgb(63, 221, 221);
}

ul{
    list-style: none;
    background-color: rgb(63, 221, 221);
}

a{
    text-decoration: none;
}
.container{
    border: 2px white solid;
    text-align: center;
    margin: auto;
    
}
.content{
    margin: auto;
    width: 600px;
    text-align: left;
}